.loremText {
    color: red;
    display: flex;
    background-color: black;
font-size: 20px;
margin-bottom: -1px;

}
.newText{
    height: 500px;
    width: 100%;
   
background-image: url(https://cdn.sanity.io/images/tlr8oxjg/production/5c3120359be5c4f225cd7b817811217041b759ab-1192x668.png?w=3840&q=100&fit=clip&auto=format);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: white;
font-size: 27px;
text-align: center;

}

